html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

body {
  font-family: "Work Sans", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6); }
  body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f89fc; }
  a:hover, a:focus {
    text-decoration: none;
    color: #2f89fc;
    outline: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400; }

.ftco-navbar-light {
  background: transparent !important;
  z-index: 3;
  padding: 0; }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #000000 !important;
      position: relative;
      top: 0;
      padding: 10px 15px; } }
  .ftco-navbar-light .navbar-brand {
    color: #000000; }
    .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
      color: #000000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px; } }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    opacity: 1 !important; }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #000000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem;
        color: rgba(255, 255, 255, 0.7); }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
          color: #fff; } }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      font-size: 14px; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background: transparent;
        color: #000000; }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
          display: none; } }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #000000; }
    @media (max-width: 767.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #2f89fc; } }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #2f89fc; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fff; } }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:focus {
      outline: none !important; }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
    .ftco-navbar-light.scrolled .nav-item.active > a {
      color: #2f89fc !important; }
    .ftco-navbar-light.scrolled .nav-item.cta > a {
      color: #fff !important;
      background: #2f89fc;
      border: none !important; }
      .ftco-navbar-light.scrolled .nav-item.cta > a span {
        display: inline-block;
        color: #fff !important; }
    .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
      border-color: #2f89fc; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .ftco-navbar-light.scrolled .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
    .ftco-navbar-light.scrolled .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: #000000 !important; }
      .ftco-navbar-light.scrolled .nav-link.active {
        color: #2f89fc !important; }
    .ftco-navbar-light.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled .navbar-brand {
      color: #000000; }

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
  padding: 0;
  line-height: 1; }
  .navbar-brand span {
    color: #2f89fc; }

.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  @media (max-width: 991.98px) {
    .hero-wrap {
      background-position: top center !important; } }
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #2f89fc; }
  .hero-wrap.hero-wrap-2 {
    height: 300px; }
    .hero-wrap.hero-wrap-2 .slider-text {
      height: 300px; }
      .hero-wrap.hero-wrap-2 .slider-text .bread {
        font-weight: 900;
        color: #fff; }
      .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px; }
        .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span {
          color: #fff;
          border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
          .hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span a {
            color: #fff; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: .4; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      color: #2f89fc !important;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      transition: all 0.7s ease;
      opacity: 0; }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 30px; }
    .owl-carousel .owl-nav .owl-prev {
      left: 0; }
    .owl-carousel .owl-nav .owl-next {
      right: 0; }
  .owl-carousel .owl-dots {
    text-align: center; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: #e6e6e6;
      position: relative; }
      .owl-carousel .owl-dots .owl-dot:after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid #e6e6e6;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #b3b3b3; }
  .owl-carousel:hover .owl-nav .owl-prev,
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1; }
  .owl-carousel:hover .owl-nav .owl-prev {
    left: -25px; }
  .owl-carousel:hover .owl-nav .owl-next {
    right: -25px; }
  .owl-carousel.home-slider {
    position: relative;
    height: 600px;
    z-index: 0; }
    .owl-carousel.home-slider .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      height: 600px;
      position: relative;
      z-index: 0; }
      @media (max-width: 1199.98px) {
        .owl-carousel.home-slider .slider-item {
          background-position: center center !important; } }
      .owl-carousel.home-slider .slider-item .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        opacity: 0; }
      .owl-carousel.home-slider .slider-item .slider-text {
        height: 600px; }
        @media (max-width: 767.98px) {
          .owl-carousel.home-slider .slider-item .slider-text {
            text-align: center; } }
        .owl-carousel.home-slider .slider-item .slider-text .subheading {
          color: #000000;
          font-weight: 700; }
        .owl-carousel.home-slider .slider-item .slider-text .text {
          position: relative; }
        .owl-carousel.home-slider .slider-item .slider-text h1 {
          font-size: 60px;
          color: #2f89fc;
          line-height: 1.2;
          font-weight: 900; }
          .owl-carousel.home-slider .slider-item .slider-text h1 span {
            display: block;
            color: #000000; }
          @media (max-width: 991.98px) {
            .owl-carousel.home-slider .slider-item .slider-text h1 {
              font-size: 30px; } }
        .owl-carousel.home-slider .slider-item .slider-text .subheading {
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.8); }
        .owl-carousel.home-slider .slider-item .slider-text p {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 300;
          color: rgba(0, 0, 0, 0.8); }
          .owl-carousel.home-slider .slider-item .slider-text p.sub-p {
            font-weight: 400; }
          .owl-carousel.home-slider .slider-item .slider-text p strong {
            font-weight: 700; }
            .owl-carousel.home-slider .slider-item .slider-text p strong a {
              color: #fff; }
        .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px; }
          .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
            border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
            .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
              color: #fff; }
    .owl-carousel.home-slider .owl-nav {
      position: absolute;
      top: 100%;
      width: 100%; }
      .owl-carousel.home-slider .owl-nav .owl-prev,
      .owl-carousel.home-slider .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -10px;
        outline: none !important;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0; }
    .owl-carousel.home-slider .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      width: 100%;
      text-align: center; }
      @media (max-width: 767.98px) {
        .owl-carousel.home-slider .owl-dots {
          bottom: 5px; } }
      .owl-carousel.home-slider .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4); }
        .owl-carousel.home-slider .owl-dots .owl-dot.active {
          background: #fff; }

.container {
  max-width: 1230px; }

.bg-light {
  background: #fafafa !important; }

.bg-white {
  background: #fff !important; }

.bg-primary {
  background: #2f89fc; }

.ftc-no-pb {
  padding-bottom: 0 !important; }

.btn {
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #2f89fc;
    border: 1px solid #2f89fc;
    color: #fff; }
    .btn.btn-primary:hover {
      border: 1px solid #2f89fc;
      background: transparent;
      color: #2f89fc; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #2f89fc;
      background: transparent;
      color: #2f89fc; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #2f89fc;
        color: #fff; }
  .btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #2f89fc; }
    .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
      border: 1px solid #fff;
      color: #2f89fc; }
    .btn.btn-white.btn-outline-white {
      border-color: rgba(255, 255, 255, 0.8);
      background: none;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      border-width: 1px;
      color: #fff; }
      .btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
        background: #fff;
        border-color: #fff;
        color: #2f89fc; }
  .btn.btn-secondary {
    background: #ff8000;
    border: 1px solid #ff8000;
    color: #fff; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
      border: 1px solid #ff8000;
      color: #fff; }

.btn-custom {
  font-weight: 500;
  color: #046df4;
  border-bottom: 4px solid #4394fc; }

.img-2 {
  background-position: top center !important; }
  @media (max-width: 767.98px) {
    .img-2 {
      height: 300px;
      margin-bottom: 40px; } }

.wrap-about {
  position: relative; }
  @media (min-width: 768px) {
    .wrap-about {
      padding-left: 6em; } }

.ftco-services {
  padding: 0 0 5em 0; }
  @media (min-width: 768px) {
    .ftco-services {
      margin-top: -50px; } }
  .ftco-services .services {
    display: block;
    width: 100%;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #2f89fc; }
    .ftco-services .services:nth-child(even) {
      background: #0c75fb; }
      .ftco-services .services:nth-child(even) .icon {
        background: #2f89fc !important; }
    .ftco-services .services .icon {
      line-height: 1.3;
      position: relative;
      width: 80px;
      height: 80px;
      background: #61a6fd;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .ftco-services .services .icon span {
        font-size: 50px;
        color: #fff; }
    .ftco-services .services .media-body {
      color: rgba(255, 255, 255, 0.8); }
      .ftco-services .services .media-body h3 {
        font-weight: 500;
        font-size: 22px;
        color: #fff; }

.services-2 {
  margin-bottom: 30px; }
  .services-2 .icon {
    position: relative;
    width: 60px;
    height: 60px; }
    .services-2 .icon span {
      font-size: 30px;
      color: #2f89fc; }
  .services-2 .text {
    width: calc(100% - 60px); }
    .services-2 .text h3 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase; }

.ftco-intro {
  padding: 4em 0;
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 991.98px) {
    .ftco-intro {
      background-position: center center !important; } }
  .ftco-intro h2 {
    color: #fff;
    font-size: 36px; }
  .ftco-intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #2f89fc; }

.ftco-departments {
  position: relative;
  width: 100%;
  display: block; }
  .ftco-departments .nav-pills {
    width: 100%;
    display: block; }
    .ftco-departments .nav-pills p {
      margin-bottom: 0; }
    .ftco-departments .nav-pills .nav-link {
      padding: 35px 30px !important;
      border-radius: 0;
      margin-bottom: 0;
      color: #000000;
      font-size: 22px;
      font-weight: 600;
      position: relative;
      display: inline-block;
      border: 1px solid transparent;
      background: rgba(0, 0, 0, 0.05);
      width: 20%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .ftco-departments .nav-pills .nav-link:after {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 0;
        content: '';
        height: 0;
        margin: 0 auto;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #2f89fc transparent transparent transparent;
        opacity: 0; }
      .ftco-departments .nav-pills .nav-link span {
        display: block;
        font-size: 14px; }
      @media (max-width: 991.98px) {
        .ftco-departments .nav-pills .nav-link {
          font-size: 16px;
          padding: 20px 5px !important; } }
      @media (max-width: 767.98px) {
        .ftco-departments .nav-pills .nav-link {
          width: 100%; } }
      .ftco-departments .nav-pills .nav-link:hover {
        background: #167bfc;
        color: #fff; }
      .ftco-departments .nav-pills .nav-link.active {
        color: #fff;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border: 1px solid transparent;
        background: #2f89fc; }
        .ftco-departments .nav-pills .nav-link.active:after {
          opacity: 1; }
        @media (max-width: 767.98px) {
          .ftco-departments .nav-pills .nav-link.active:after {
            opacity: 0; } }
      @media (max-width: 767.98px) {
        .ftco-departments .nav-pills .nav-link {
          display: block;
          margin-bottom: 5px; } }
  .ftco-departments .tab-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: 15px; }
  .ftco-departments .img {
    display: block;
    width: 100%; }
    @media (max-width: 991.98px) {
      .ftco-departments .img {
        height: 300px;
        margin-bottom: 30px; } }
  .ftco-departments .departments h2 {
    font-weight: 600; }
  .ftco-departments .departments .services-2 .icon {
    border: 2px solid #2f89fc;
    background: #2f89fc; }
    .ftco-departments .departments .services-2 .icon span {
      color: #fff; }

.staff {
  overflow: hidden;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .staff .img-wrap {
    height: 300px; }
  .staff .img {
    width: 100%;
    display: block;
    background-position: top center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .staff .text {
    position: relative;
    background: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .text h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .staff .text .position {
      text-transform: uppercase;
      color: #b3b3b3;
      display: block;
      letter-spacing: 1px; }
    .staff .text .faded {
      opacity: 1; }
  .staff .ftco-social {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background: #fff;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .ftco-social li a {
      color: #ff8000; }
  .staff:hover .ftco-social, .staff:focus .ftco-social {
    opacity: 1;
    top: -40px; }
  .staff:hover .img, .staff:focus .img {
    margin-top: -10px; }
  .staff:hover .text h3, .staff:focus .text h3 {
    color: #2f89fc; }

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 275px;
  position: relative;
  display: block; }

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px; }
    .blog-entry .text .heading a {
      color: #000000; }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #2f89fc; }
  .blog-entry .text .meta-chat {
    color: #b3b3b3; }
  .blog-entry .text .read {
    color: #000000;
    font-size: 14px; }

.blog-entry .meta-date {
  display: inline-block;
  background: #2f89fc; }
  .blog-entry .meta-date span {
    display: block;
    color: #fff; }
  .blog-entry .meta-date .day {
    font-weight: 700;
    font-size: 20px; }
  .blog-entry .meta-date .mos, .blog-entry .meta-date .yr {
    font-size: 13px; }

.blog-entry .meta > div {
  display: block;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px; }
  .blog-entry .meta > div a {
    color: #b3b3b3;
    font-size: 13px; }
    .blog-entry .meta > div a:hover {
      color: #cccccc; }

.block-27 ul {
  padding: 0;
  margin: 0; }
  .block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400; }
    .block-27 ul li a, .block-27 ul li span {
      border: 1px solid #2f89fc;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%; }
    .block-27 ul li.active a, .block-27 ul li.active span {
      background: #2f89fc;
      color: #fff;
      border: 1px solid transparent; }

.aside-stretch {
  background: #fff; }
  .aside-stretch:after {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #fff; }
  @media (max-width: 767.98px) {
    .aside-stretch {
      background: transparent; }
      .aside-stretch:after {
        background: transparent;
        display: none; } }

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control:focus, .form-control:active {
    border-color: #000000; }

textarea.form-control {
  height: inherit !important; }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }

.bg-primary {
  background: #2f89fc !important; }

.about-author .desc h3 {
  font-size: 24px; }

.ftco-section {
  padding: 7em 0;
  position: relative; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 14px;
  background: #141313;
  padding: 6em 0; }
  .ftco-footer .ftco-footer-widget {
    width: 100%;
    display: block; }
    .ftco-footer .ftco-footer-widget h2 {
      font-weight: normal;
      color: #fff;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: 700; }
    .ftco-footer .ftco-footer-widget .logo {
      color: #2f89fc; }
      .ftco-footer .ftco-footer-widget .logo span {
        color: #ff8000; }
    .ftco-footer .ftco-footer-widget ul li a span {
      color: #fff; }
    .ftco-footer .ftco-footer-widget .btn-primary {
      background: #fff !important;
      border: 2px solid #fff !important; }
      .ftco-footer .ftco-footer-widget .btn-primary:hover {
        background: #fff;
        border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }
  .ftco-footer .categories li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .ftco-footer .categories li a span {
      color: rgba(255, 255, 255, 0.5) !important; }
  .ftco-footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .ftco-footer .subscribe-form .form-group input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      width: 100%;
      background: rgba(255, 255, 255, 0.1) !important;
      border: none;
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 16px; }
      .ftco-footer .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(255, 255, 255, 0.7) !important; }
      .ftco-footer .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.7) !important; }
    .ftco-footer .subscribe-form .form-group .submit {
      color: #fff !important;
      font-size: 16px;
      background: #2f89fc !important;
      border: none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .ftco-footer .subscribe-form .form-group .submit:hover {
        cursor: pointer;
        background: #ff8000 !important; }
  .ftco-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8); }
  .ftco-footer .block-21 .text .heading {
    font-weight: 400;
    font-size: 16px; }
    .ftco-footer .block-21 .text .heading a {
      color: rgba(255, 255, 255, 0.9); }
      .ftco-footer .block-21 .text .heading a:hover, .ftco-footer .block-21 .text .heading a:active, .ftco-footer .block-21 .text .heading a:focus {
        color: #2f89fc; }
  .ftco-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .ftco-footer .block-21 .text .meta > div a {
      color: gray; }
  .ftco-footer .open-hours {
    color: #fff;
    font-size: 18px; }
    .ftco-footer .open-hours span {
      color: rgba(255, 255, 255, 0.3); }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #2f89fc; }

.media .ftco-icon {
  width: 100px; }
  .media .ftco-icon span {
    color: #2f89fc; }

.heading-section .subheading {
  font-weight: 400;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  position: relative; }

.heading-section h2 {
  font-size: 34px;
  font-weight: 800; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.7); }

.heading-section.heading-section-white h2 {
  font-size: 40px;
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.heading-section .category {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px; }
  .heading-section .category span a {
    color: #000000; }
  .heading-section .category span.active {
    font-weight: 500; }

.border-line {
  position: relative; }
  .border-line p {
    color: rgba(0, 0, 0, 0.5); }

.hotel-img,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.testimony-section {
  position: relative; }
  .testimony-section .owl-carousel {
    margin: 0; }
  .testimony-section .owl-carousel .owl-stage-outer {
    padding-top: 4em;
    padding-bottom: 2em;
    position: relative; }
  .testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%; }
    .testimony-section .owl-nav .owl-prev,
    .testimony-section .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0; }
      .testimony-section .owl-nav .owl-prev span:before,
      .testimony-section .owl-nav .owl-next span:before {
        font-size: 30px;
        color: rgba(0, 0, 0, 0.2);
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
      .testimony-section .owl-nav .owl-next:hover span:before,
      .testimony-section .owl-nav .owl-next:focus span:before {
        color: #000000; }
    .testimony-section .owl-nav .owl-prev {
      left: 50%;
      margin-left: -80px; }
    .testimony-section .owl-nav .owl-next {
      right: 50%;
      margin-right: -80px; }
  .testimony-section:hover .owl-nav .owl-prev,
  .testimony-section:hover .owl-nav .owl-next {
    opacity: 1; }
  .testimony-section:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px; }
  .testimony-section:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px; }
  .testimony-section .owl-dots {
    text-align: center; }
    .testimony-section .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2); }
      .testimony-section .owl-dots .owl-dot.active {
        background: #2f89fc; }

.testimony-wrap {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.8); }
  .testimony-wrap .user-img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    position: relative; }
  .testimony-wrap .text {
    width: calc(100% - 120px);
    position: relative; }
  .testimony-wrap .quote {
    position: absolute;
    top: -60px;
    left: 0; }
    .testimony-wrap .quote i {
      font-size: 44px;
      color: #2f89fc; }
  .testimony-wrap .name {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: #000000; }
  .testimony-wrap .position {
    font-size: 14px;
    color: #2f89fc; }

@media (max-width: 767.98px) {
  .about-image {
    height: 400px;
    margin-bottom: 30px; } }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

#section-counter {
  position: relative;
  z-index: 0; }
  #section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 1;
    background: #2f89fc; }

.ftco-counter {
  overflow-x: hidden;
  position: relative; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .bg-counter {
    position: relative;
    background: #fff; }
    .ftco-counter .bg-counter h3.vr {
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      text-orientation: sideways;
      text-align: center;
      text-orientation: sideways;
      margin: 0rem;
      position: absolute;
      top: 0;
      right: -20px;
      height: 100%;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 4px;
      font-size: 16px;
      z-index: 1; }
      @media (max-width: 1199.98px) {
        .ftco-counter .bg-counter h3.vr {
          opacity: 0; } }
  .ftco-counter .block-18 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
  .ftco-counter .text strong.number {
    font-weight: 800;
    font-size: 44px;
    color: #2f89fc;
    display: block; }
  .ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }
  .ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #2f89fc; }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.appointment-form .form-group {
  position: relative;
  width: 100%;
  display: block; }
  .appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .appointment-form .form-group .icon span {
      color: white !important; }
  .appointment-form .form-group .select-wrap, .appointment-form .form-group .input-wrap {
    position: relative; }
    .appointment-form .form-group .select-wrap select, .appointment-form .form-group .input-wrap select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .appointment-form .form-group .btn {
    width: 100%;
    display: block !important; }

.appointment-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 16px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.9); }
  .appointment-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9); }
  .appointment-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.9); }
  .appointment-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9); }
  .appointment-form .form-control:focus, .appointment-form .form-control:active {
    border-color: #fff; }

.appointment-form textarea.form-control {
  height: inherit !important; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(255, 255, 255, 0.7); }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }

.contact-section .contact-info p a {
  color: #1a1a1a; }

.contact-section .box {
  width: 100%;
  display: block; }

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px; }

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px; }

.block-21 .text {
  width: calc(100% - 100px); }
  .block-21 .text .heading {
    font-size: 18px;
    font-weight: 400; }
    .block-21 .text .heading a {
      color: #000000; }
      .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
        color: #2f89fc; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .block-21 .text .meta > div a {
      color: gray; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }
